## define COMPOSE_DEBUG for DEBUG environment
ENV=dev
COMPOSE_NAME=db4dev
COMPOSE_DEBUG=false

## ROOT PATH
# /Users/andrew/Documents/var/imagodb/mysql/data
# /Users/andrew/andrew/workspace/imago-db/db-docker
# LOCAL_PATH=${PWD}
LOCAL_PATH=.
CONFIG_PATH=${LOCAL_PATH}/config
LOG_PATH=${LOCAL_PATH}/log
LOG_LEVEL=warning

## database tag
# Before MYSQL 5.7
MYSQL_TAG=9.7

# Before MONGODB 4.4.6
MONGODB_TAG=8.3-ubi9-slim

# redis.conf download link: https://redis.io/docs/latest/operate/oss_and_stack/management/config/
# Before REDIS 7.4.2
REDIS_TAG=8.10

# Before POSTGRES 15
POSTGRES_TAG=18

## environment
TIME_ZONE=UTC
LANG=en_US.UTF-8

HOST_IP=0.0.0.0

## ---------------- MYSQL variables ---------------- ##
MYSQL_CONTAINER=mysql-${ENV}
MYSQL_DATA_VOLUME=mysql-volume
MYSQL_PORT=3306
MYSQL_PATH=${CONFIG_PATH}/mysql

MYSQL_CONFIG=${MYSQL_PATH}/conf.d

## MYSQL_INIT=${MYSQL_PATH}/init-file.sql
MYSQL_INIT=${MYSQL_PATH}/docker-entrypoint-initdb.d

MYSQL_LOG_PATH=${LOG_PATH}/mysql

## root password
MYSQL_ROOT_PWD=DB-Passw0rd

MYSQL_DB=db_imago
MYSQL_USER=imago

MYSQL_PWD=DB-Passw0rd

## ---------------- MONGODB ---------------- ##
MONGODB_CONTAINER=mongodb-${ENV}
MONGODB_DATA_VOLUME=mongodb-volume
MONGODB_PORT=27017

MONGODB_USER=imago
MONGODB_PWD=DB-Passw0rd

MONGODB_PATH=${CONFIG_PATH}/mongodb

MONGODB_CONFIG=${MONGODB_PATH}/configdb

MONGODB_DOCKERINIT=${MONGODB_PATH}/docker-entrypoint-initdb.d

MONGODB_LOG_PATH=${LOG_PATH}/mongodb

## ---------------- REDIS ---------------- ##
REDIS_CONTAINER=redis-${ENV}
REDIS_DATA_VOLUME=redis-volume
REDIS_PORT=6379

REDIS_PWD=DB-Passw0rd

REDIS_PATH=${CONFIG_PATH}/redis
REDIS_CONFIG=${REDIS_PATH}/${REDIS_TAG}/redis.conf

REDIS_LOG_PATH=${LOG_PATH}/redis

## ---------------- POSTGRES ---------------- ##
POSTGRES_CONTAINER=postgres-${ENV}
POSTGRES_DATA_VOLUME=postgres-volume
POSTGRES_PORT=5432

POSTGRES_USER=imago
POSTGRES_PWD=DB-Passw0rd
POSTGRES_DB=db_imago

POSTGRES_PATH=${CONFIG_PATH}/postgres
POSTGRES_CONFIG=${POSTGRES_PATH}/config
DOCKER_POSTGRES_DATA=/var/lib/postgresql/data

POSTGRES_DOCKERINIT=${POSTGRES_PATH}/docker-entrypoint-initdb.d

NET_DB=db-default
