## define COMPOSE_DEBUG for DEBUG environment
ENV=dev
COMPOSE_NAME=db-dev
COMPOSE_DEBUG=false

## ROOT PATH
# /Users/andrew/Documents/var/imagodb/mysql/data
# /Users/andrew/andrew/workspace/imago-db/db-docker
LOCAL_PATH=${PWD}
CONFIG_PATH=${LOCAL_PATH}/config
LOG_PATH=${LOCAL_PATH}/log
LOG_LEVEL=warning

## database tag
MYSQL_TAG=8.4.4
MONGODB_TAG=8.0.4
REDIS_TAG=7.4.2
POSTGRES_TAG=17.2

## environment
TIME_ZONE=UTC
LANG=en_US.UTF-8

HOST_IP=0.0.0.0

## ---------------- MYSQL variables ---------------- ##
MYSQL_CONTAINER=mysql-${ENV}
MYSQL_DATA_VOLUME=mysql-volume
MYSQL_PORT=3306
MYSQL_PATH=${CONFIG_PATH}/mysql

MYSQL_CONFIG=${MYSQL_PATH}/conf.d

## MYSQL_INIT=${MYSQL_PATH}/init-file.sql
MYSQL_DOCKERINIT=${MYSQL_PATH}/docker-entrypoint-initdb.d

MYSQL_LOG_PATH=${LOG_PATH}/mysql

## root password, BEFORE: backend_2023_09_db
## Admin@Mysql
MYSQL_PWD="QWRtaW5ATXlzcWw="

## BEFORE: backend_db
MYSQL_BACKEND_DB=db_collab_backend
MYSQL_BACKEND_USER=dev-backend
## Dev@Backend
MYSQL_BACKEND_PWD="RGV2QEJhY2tlbmQ="

## ---------------- MONGODB ---------------- ##
MONGODB_CONTAINER=mongodb-${ENV}
MONGODB_DATA_VOLUME=mongodb-volume
MONGODB_PORT=27017

## BEFORE: admin
MONGODB_USER=dev-mongodb
## BEFORE backend_2023_09_db
## Dev@Mongodb
MONGODB_PWD="RGV2QE1vbmdvZGI="

MONGODB_PATH=${CONFIG_PATH}/mongodb

MONGODB_CONFIG=${MONGODB_PATH}/configdb

MONGODB_DOCKERINIT=${MONGODB_PATH}/docker-entrypoint-initdb.d

MONGODB_LOG_PATH=${LOG_PATH}/mongodb

## ---------------- REDIS ---------------- ##
REDIS_CONTAINER=redis-${ENV}
REDIS_DATA_VOLUME=redis-volume
REDIS_PORT=6379

## BEFORE backend_2023_09_db
## Dev@Redis
REDIS_PWD="RGV2QFJlZGlz"

REDIS_PATH=${CONFIG_PATH}/redis
REDIS_DATA=${REDIS_PATH}/data

REDIS_CONFIG=${REDIS_PATH}/config

REDIS_LOG_PATH=${LOG_PATH}/redis

## ---------------- POSTGRES ---------------- ##
POSTGRES_CONTAINER=postgres-${ENV}
POSTGRES_DATA_VOLUME=postgres-volume
POSTGRES_PORT=5432

POSTGRES_USER=dev-postgres
## Dev@Postgres
POSTGRES_PWD="RGV2QFBvc3RncmVz"
POSTGRES_DB=db_proctor_backend

POSTGRES_PATH=${CONFIG_PATH}/postgres
POSTGRES_DOCKERINIT=${POSTGRES_PATH}/docker-entrypoint-initdb.d

NET_BACKEND=net-backand